{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>

    <br>

    <form class="form-inline" id="recipe-inputs">
      <div class="form-group">
        <label>Recipe Name</label>
        <input type="text" id="recipe-name" name="name" class="form-control">
        <label>Recipe Type</label>
        <input type="text" id="recipe-type" name="type" class="form-control">
        <label>Prep Time</label>
        <input type="text" id="recipe-time" name="prepTime" class="form-control">
        <label>Recipe Notes</label>
        <input type="text" id="recipe-notes" name="recipeNotes" class="form-control">
      </div>
      <button type="submit" class="btn btn-default">Save</button>
    </form>

    <hr><br>
    <p id="message"></p>
    <div id="results"></div>

    <div id="recipe-table">

      <h2>All Recipes</h2>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Prep Time</th>
              <th>Recipe Notes</th>
            </tr>
          </thead>
          <tbody id="all">
          </tbody>
        </table>
      </div>

    </div>


 <!--  <form id="edit-form">
    <h2>Edit Recipe</h2>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-name">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-type">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-prepTime">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="edit-recipeNotes">
    </div>
    <button type="submit" class="btn btn-primary update-button">Update</button>
    <button class="btn btn-success" id="cancel-edit">Cancel</button>
  </form> -->

  </div>

{% endblock %}
